<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="IE=edge"/>
<meta name="viewport" content="with=device-width, initial-scale=1"/>
<head>
    <title>登陆页面</title>
    <link th:href="@{/static/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/login.css}" rel="stylesheet"/>
</head>
<body class="container">

<form class="form-signin" th:action="@{/login}" method="post">
    <h2 class="form-signin-heading">请登录</h2>
    <label for="inputUsername" class="sr-only">username</label>
    <input type="text" id="inputUsername" class="form-control" name="username" placeholder="用户名" required
           autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="密码" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <div th:if="${param.error}" class="alert alert-danger">
        无效的账号和密码
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>

</body>
</html>